<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('navbar') _%>
        <div class="container">
            <div class="titulo">
                <h2>Factura</h2>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID_CLIENTE</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>PRODUCTO</th>
                        <th>CANTIDAD</th>
                    </tr>
                </thead>
                <tbody>
                    <% factura.forEach((factura)=>{%>
                        <tr>
                            <td><%=factura.idCliente %></td>
                            <td><%=factura.nombre %></td>
                            <td><%=factura.apellido %></td>
                            <td><%=factura.productos %></td>
                            <td><%=factura.cantidad %></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
</body>
</html>